language: bash
sudo: required
services:
  - docker
before_install:
- echo -e "machine api.github.com\n  login $GITHUB_TOKEN" > ~/.netrc
install: docker pull heroku/cedar:14
script:
  - make IMAGE=$IMAGE test
env:
  matrix:
    - IMAGE=heroku/cedar:14
    - IMAGE=heroku/heroku:16-build
    - IMAGE=heroku/heroku:18-build
  global:
    - secure: "eRuNKAX1KXhAevMeng2BliSZnD1drwWUAO73yUqhEPv+vaiwmiUfqTtsco5ud9/f5lL3kupSaC1c6GdDJbn4ISryr67hZ5SAltoS8sBKXglABRFR7Zio5QI5cEqmGCSetMdIHFe5BS3KxKPBVniQydKEf6vLm/gtdU17piNkimU="
    - secure: "WmAe7pNuQehZCuEak8eUCeHwVMN6n9kvvCCahM3omEAmrK+QrnUIIoZ70Z5F3WRgliGIMzP+B/mue7kaOHaF7Bvijxl3H6aHSsFOAI/LMbMGaxCsTqThcAPxZCZATBqqcxQcpYtWEbsvjb7X3nUvW3Dqzz7XVfZGPbEpXTWSWsE="