name: CI

on:
  push:
    # Avoid duplicate builds on PRs.
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  integration-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        stack: ["heroku-22", "heroku-24"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run tests
        run: make test STACK=${{ matrix.stack }}

  container-test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run buildpack using default app fixture
        run: make run
      - name: Run buildpack testpack script using legacy fixture
        run: make run-ci FIXTURE=test/fixtures/govendor-basic
