name: CI

on:
  push:
    # Avoid duplicate builds on PRs.
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  integration-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        stack: ["heroku-22", "heroku-24"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run tests
        run: make test STACK=${{ matrix.stack }}

  container-test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # Test both the local development `make run` workflow and that `bin/report` completes successfully
      # for both passing and failing builds (since `bin/report` can't easily be tested via Hatchet tests).
      - name: Run buildpack using default app fixture
        run: make run
      - name: Run buildpack using an app fixture that's expected to fail
        run: make run FIXTURE=test/fixtures/mod-bin-file COMPILE_FAILURE_EXIT_CODE=0
      - name: Run buildpack testpack script using fixture with tests
        run: make run-ci FIXTURE=test/fixtures/mod-deps-with-tests
